@tailwind base;
@tailwind components;
@tailwind utilities;

/* Titres massifs, b&w par défaut */
:root {
  --page-bg: #ffffff;
  --page-fg: #111111;
  --font-moderat: ui-sans-serif, system-ui;
}

.font-sans {
  font-family: var(--font-moderat), Inter, ui-sans-serif, system-ui,
    -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial;
}
.dark {
  --page-bg: #0a0a0a;
  --page-fg: #f5f5f5;
}
html,
body {
  background: var(--page-bg);
  color: var(--page-fg);
}

/* Scroll doux pour les ancres header */
html {
  scroll-behavior: smooth;
}
